[
 ;; Document
 
 {:db/id #db/id[:db.part/db]
  :db/ident :ameba.document/unique-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Unique identifier. Details are application-specific, but must be unique within the database."
  :db/unique :db.unique/identity
  :db/index true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ameba.document/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Document title"
  :db.install/_attribute :db.part/db}
 
 {:db/id #db/id[:db.part/db]
  :db/ident :ameba.document/content
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db/doc "Reference to the content of the document. Usually this would be an entity with :ameba.structure and/or :ameba.content attributes"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ameba.document/type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Enum indicating the type of document."
  :db.install/_attribute :db.part/db}
 
  ;; author, owner, and authorName provide three means of attribution
  ;; for a document. Many applications might only make use of 'owner'.
  ;; 'author' would be useful for an application in which the
  ;; user who created the document is not necessarily the same as the
  ;; user who controls it. 'authorName' supports attributing
  ;; authorship to someone who is not in the system. 
 
 {:db/id #db/id[:db.part/db]
  :db/ident :ameba.document/author-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Optional author name text. Can be useful if want to support attributing authorship to to non-users."
  :db.install/_attribute :db.part/db}
 
 {:db/id #db/id[:db.part/db]
  :db/ident :ameba.document/tag
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Tags. See the :ameba.tag attribute types"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ameba.document/visibility
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "An enum type, indicating document visibility, e.g. published, private, etc."
  :db.install/_attribute :db.part/db}


 {:db/id #db/id[:db.part/db]
  :db/ident :ameba.document/is-draft
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "Flag indicating the document is in 'draft' state"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :ameba.document/parent
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "References another document entity, from which this document was derived."
  :db.install/_attribute :db.part/db}

]
